@media screen and (min-width: 40em) {
  header {
    background-color: rgb(0, 38, 71);
  }

  main {
    max-width: 1300px;
  }

  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
    align-items: center;
  }

  .navigation a {
    margin: 0 15px;
    text-align: center;
  }

  #menu {
    display: none;
  }

  .grid-container {
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
