* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  /* margin: 0;
  padding: 0; */
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0 0;
}

header a {
  text-align: left;
}

#menu {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  font-family: "Courier New", Courier, monospace;
}

#menu::before {
  content: "≡";
}

nav {
  background-color: rgb(70, 7, 7);
  /* padding: 1rem; */
}

.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
navigation a:active {
  color: white;
  background-color: black;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}

main {
  padding: 20px 40px;
}

h1 {
  margin: 1rem;
}

.grid-container {
  grid-template-columns: 1fr;
}

figure {
  margin: 10px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
